<aside class="sidebar" id="sidebar">
  <nav class="side-nav">
    <a data-page="index.html">Главная</a>
    <a data-page="pages/about.html">О компании</a>
    <a data-page="pages/services.html">Услуги</a>
    <a data-page="pages/specialists.html">Наши специалисты</a>
    <a data-page="pages/clients.html">Клиенты</a>
    <a data-page="pages/reviews.html">Отзывы</a>
    <a data-page="pages/publications.html">Публикации</a>
    <a data-page="pages/faq.html">Вопросы и ответы</a>
    <a data-page="pages/contacts.html">Контакты</a>
  </nav>
</aside>